/**
 * @prop --button-size-inline: Minimum inline size (width) of the button
 */
:host([expand='xs'i]) {
  --button-size-inline: 10rem;
}

:host([expand='sm'i]) {
  --button-size-inline: 14rem;
}

:host([expand='lg'i]) {
  --button-size-inline: 20rem;
}

:host([expand='xl'i]) {
  --button-size-inline: 25rem;
}

:host([expand='block'i]) {
  --button-size-inline: 100%;
}
