@import '../../styles/abstracts/typography';
@import './abstracts/button-size';
@import './abstracts/button-color-theme';

$filled: '[style="filled"i]';
$outlined: '[style="outlined"i]';

button {
  --button-inline-space-between-size: 1rem;
  --button-padding-inline-size: 2.5rem;
  @include oai-font-body-2;
  position: relative;
  block-size: var(--size-block, initial);
  min-inline-size: var(--button-size-inline, initial);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  outline: none;
  padding-inline-start: var(--button-padding-inline-size);
  padding-inline-end: var(--button-padding-inline-size);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  &:not(#{$outlined}) {
    border: 0 none;
  }
}

// filled is the default
:host(:not(#{$outlined})) {
  button {
    background-color: var(--theme);
    color: var(--contrast);
    transition: box-shadow .2s,
      background-color .5s;

    &:not(:disabled):not(:active) {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);

      &:hover {
        box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.24);
      }
    }
  }
}

:host(#{$outlined}) {
  button {
    background-color: transparent;
    color: var(--theme);
    border-width: 1px;
    border-style: solid;
    border-color: currentColor;

    &:not(:disabled):not(:active) {

      &:hover,
      &:active {
        background-color: var(--theme);
        color: var(--contrast);
      }
    }

  }
}

::slotted([slot="prefix"i]) {
  margin-inline-end: var(--button-inline-space-between-size);
}

::slotted([slot="suffix"i]) {
  margin-inline-start: var(--button-inline-space-between-size);
}

.pending-indicator {
  position: absolute;
  left: calc(var(--button-padding-inline-size) / 2);
  transform: translateX(-50%);
}
