@import '../../utils/theme/components-utils';

$gutter-size: calc(var(--size-gutter) / 2);


:host {
  @include ripple;
  @include padding(0, #{$gutter-size}, 0, #{$gutter-size});
  cursor: pointer;
  box-sizing: border-box;
  block-size: 100%;
  min-block-size: var(--size-block);
  position: relative;
  display: flex;
  place-content: center;
  align-items: center;
  user-select: none;




  box-sizing: border-box;
  text-align: center;
  transition: 0.15s color,
    0.2s transform;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transform-origin: 50% 100%;
  outline: none;
  overflow: hidden;
  user-select: none;



  &::after {
    content: '';
    transform: translateX(-50%) scaleX(0);
    transition: .3s transform;
    will-change: (transform);
    width: 100%;
    block-size: 5px;
    background: currentColor;
    position: absolute;
    bottom: 0;
    offset-block-end: 0;
    left: 50%;
    offset-inline-start: 0;
  }
}

:host([selected="true"]) {
  color: var(--oai-color-base, currentColor);

  &::after {
    transform: translateX(-50%) scaleX(1);
  }
}

:host-context(oai-toolbar) {
  min-block-size: var(--toolbar-size-block);
  --oai-color-base: var(--oai-color-contrast);
}



::slotted(:any-link) {
  text-decoration: none;
}
