@import '../../utils/theme/components-utils';

$gutter-size: calc(var(--size-gutter) / 2);


:host {
  @include ripple;
  @include padding(0, #{$gutter-size}, 2rem, #{$gutter-size});
  cursor: pointer;
  box-sizing: border-box;
  block-size: 100%;
  min-block-size: var(--size-block);
  position: relative;
  display: flex;
  place-content: center;
  align-items: flex-end;
  user-select: none;




  text-align: center;
  transition: .2s color;
  will-change: color;
  flex-shrink: 0;
  transform-origin: 50% 100%;
  outline: none;
  overflow: hidden;
  user-select: none;



  &::after {
    content: '';
    transition: .3s transform;
    will-change: transform;
    transform: translateX(-50%) scaleX(0);
    width: 100%;
    block-size: 5px;
    background: currentColor;
    position: absolute;
    bottom: 0;
    offset-block-end: 0;
    left: 50%;
    offset-inline-start: 0;
  }
}

:host([selected="true"]) {
  color: var(--oai-color-selected, currentColor);

  &::after {
    transform: translateX(-50%) scaleX(1);
  }
}

:host-context(oai-toolbar) {
  min-block-size: var(--toolbar-size-block);
  // --oai-color-base: var(--oai-color-selected, green);
  // --oai-color-base-selected: var(--oai-color-base);
}



::slotted(:any-link) {
  text-decoration: none;
}
