$color-prefix: --oai-color;

// #region COLOR PALETTES DATA
$main-palette-colors: ('primary': #33aaee,
  'secondary': #ff8f02,
  'success' : #35be8b,
  'error' : #f2596a,
  'warn' : #f8e71c,
  'dark' : #2c2d30,
  'medium' : #B9B9B9,
  'light' : #FCFCFC,
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  //if the requested key is not in the map:
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

$contrast-light: white;
$contrast-dark: map-get($main-palette-colors, 'dark');

:root {
  #{$color-prefix}-background: #F9F7F4;
  #{$color-prefix}-foreground: #2A2C2B;

  @each $color-name,
  $color in $main-palette-colors {
    #{$color-prefix}-#{$color-name}: #{$color};
    #{$color-prefix}-#{$color-name}-contrast: #{set-contrast-color($color, $contrast-light, $contrast-dark, 91)};
    #{$color-prefix}-#{$color-name}-tint: #{mix($contrast-light, $color, 12%)};
    #{$color-prefix}-#{$color-name}-shade: #{mix($contrast-dark, $color, 12%)};
    #{$color-prefix}-#{$color-name}-dim: #{mix($contrast-light, $color, 62%)};
    // #{$color-prefix}-#{$color-name}-light: rgba($color, 0.2);
    // #{$color-prefix}-#{$color-name}-loose: #{lighten(mix(set-contrast-color($color, $contrast-light, $contrast-dark, 91), $color, 50%), 20% ) };
    // #{$color-prefix}-#{$color-name}-loose: #{ lighten( mix(#dbdbdb, mix($contrast-light, $color, 62%), 70%), 15% )};
    #{$color-prefix}-#{$color-name}-loose: #{ mix( mix(set-contrast-color($color, $contrast-light, $contrast-dark, 91), $color, 95%), black, 97% )};
  }

}

// #endregion
