// #region COLOR PALETTES DATA
$main-colors: ('pale': #B0B0B0,
  'primary': #33aaee,
  'secondary': #ff8f02,
  'success' : #35be8b,
  'warn' : #ffc000,
  'error' : #f2596b,
  'dark' : #2c2d30,
  'medium' : #c4cdd5);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  //if the requested key is not in the map:
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

:root {

  @each $color-name,
  $color in $main-colors {
    --oai-color-#{$color-name}: #{$color};
    --oai-color-#{$color-name}-contrast: #{set-contrast-color($color, 'white', '#0d131d', 91)};
    --oai-color-#{$color-name}-tint: #{mix(white, $color, 12%)};
    --oai-color-#{$color-name}-shade: #{mix(black, $color, 12%)};
    // --oai-color-#{$color-name}-light: #{mix(white, $color, 18%)};
    --oai-color-#{$color-name}-dim: #{mix(white, $color, 62%)};
  }

}

// #endregion
:root {
  --oai-color-background: #e7e7e9;
  --oai-color-foreground: #2A2C2B;
}
