:root {
  --oai-color-background: #e7e7e9;
  --oai-color-foreground: #0d131d;
  --oai-color-pale: #B0B0B0;
  --oai-color-pale-contrast: white;
  --oai-color-primary: #4A90E2;
  --oai-color-primary-contrast: white;
  --oai-color-secondary: #009473;
  --oai-color-secondary-contrast: white;
  --oai-color-warn: #DD4124;
  --oai-color-warn-contrast: white;
}
