:root {
  --oai-color-primary: #4A90E2;
  --oai-color-secondary: #009473;
  --oai-color-warn: #DD4124;
  --oai-color-pale: #c7c7cab7;
  --oai-color-background: #e7e7e9;
  --oai-color-foreground: #0d131d;
}
