@import '../../utils/theme/color-theme.scss';

:host {
  display: flex;
  min-block-size: 6rem;
  align-items: center;
  place-content: center start;
  background-color: var(--oai-color-base);
  color: var(--oai-color-contrast);
}
