@import '../../utils/theme/color-theme.scss';

:host {
  --toolbar-size-block: 4.8rem;
  display: flex;
  place-content: center flex-start;
  min-block-size: var(--toolbar-size-block);
  align-items: center;
  background-color: var(--oai-color-base);
  color: var(--oai-color-contrast);
}

// .toolbar-container {
//   display: flex;
//   align-items: center;
// }


// .toolbar-background {
//   top: 0px;
//   transform: translateZ(0px);
//   contain: strict;
//   opacity: var(--opacity);
//   z-index: -1;
//   pointer-events: none;
// }

.toolbar-container {
  @include padding(0, var(--size-gutter), 0, var(--size-gutter));
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  contain: content;
  z-index: 10;
  box-sizing: border-box;
  overflow: hidden;
}

.toolbar-content {
  order: 4;
  min-width: 0;
  flex: 1 1 0%;
}
