@import '../../utils/theme/color-theme.scss';

:host {
  display: flex;
  place-content: center flex-start;
  min-block-size: 4.8rem;
  align-items: center;
  background-color: var(--oai-color-base);
  color: var(--oai-color-contrast);
}

.toolbar-container {
  display: flex;
  align-items: center;
}
