mark {
  border-radius: 4px;
  color: currentColor;
  background-color: rgb(186, 230, 173, .4);
  position: relative;

  &:not(:hover) {

    &::before,
    &::after {
      //   display: none;
    }
  }

  &::before,
  &::after {
    content: '\25CF';
    width: 0;
    height: 100%;
    user-select: none;
    color: bisque;
    position: absolute;
    top: 0;
    offset-block-start: 0;
    border-width: 0 1px;
    border-style: solid;
    border-color: currentColor;
    z-index: 0;
    display: flex;
    justify-content: center;
    // display: flex;
    // place-content: center;
    font-size: 12px;
    line-height: 0;
  }

  &::before {
    left: 0;
    offset-inline-start: 0;
    transform: translateX(-50%);
    align-items: flex-start;
  }

  &::after {
    right: 0;
    offset-inline-end: 0;
    transform: translateX(50%);
    align-items: flex-end;
  }

  >a {
    position: absolute;
    user-select: none;
    width: 12px;
    height: 12px;
    z-index: 1;

    cursor: pointer;

    // &:active {
    //   opacity: 0;
    // }

    &:first-child {
      left: 0;
      offset-inline-start: 0;
      top: 0;
      offset-block-start: 0;
      transform: translate(-50%, -50%);
    }

    &:last-child {
      right: 0;
      offset-inline-end: 0;
      bottom: 0;
      offset-block-end: 0;
      transform: translate(50%, 50%);
    }
  }


  //   &::before,
  //   &::after {
  //     content: '\2022';
  //   }

  &:not(:hover) {

    &::before,
    &::after {
      //   display: none;
    }
  }

  &:not(:active) {

    &::before,
    &::after {
      //   opacity: .5;
    }
  }
}

::slotted {
  pointer-events: none;
}
