/**
 * @prop --theme: Theme color of the button
 * @prop --contrast: Contrast (usually text) color of the button
 */
@import '../../../styles/mixins';

$themes: primary secondary error warn;
$nagatedAttributeSelectors:();

@each $theme in $themes {
  $attr:'[color="#{$theme}"i]';
  $nagatedAttributeSelectors: append($nagatedAttributeSelectors, $attr, );

  :host(#{$attr}) {
    & button {
      --theme: var(--oai-color-#{$theme});
      --contrast: var(--oai-color-#{$theme}-contrast);
      // --contrast: white;

      &:active {
        --theme: var(--oai-color-#{$theme}-tint);
      }

      &:disabled {
        --theme: var(--oai-color-#{$theme}-disabled);
      }
    }
  }
}

// DEFAULT
@include nagateMultiSelectors(':host', $nagatedAttributeSelectors) {

  & button {
    --theme: var(--oai-color-pale);
    --contrast: var(--oai-color-pale-contrast);

    &:active {
      --theme: var(--oai-color-pale-tint);
    }

    &:disabled {
      --theme: var(--oai-color-pale-disabled);
    }
  }

}
