/**
 * @prop --button-size-inline: Minimum inline size (width) of the button
 */
:host([minsize='xs'i]) {
  --button-size-inline: 10rem;
}

:host([minsize='sm'i]) {
  --button-size-inline: 14rem;
}

:host([minsize='lg'i]) {
  --button-size-inline: 20rem;
}

:host([minsize='xl'i]) {
  --button-size-inline: 25rem;
}
