$primary: '[color="primary"i]';
$secondary: '[color="secondary"i]';
$warn: '[color="warn"i]';

// DEFAULT
:host(:not(#{$primary}):not(#{$secondary}):not(#{$warn})) {
  --theme: var(--oai-color-pale);
  --contrast: var(--oai-color-pale-contrast);
}

:host(#{$primary}) {
  --theme: var(--oai-color-primary);
  --contrast: var(--oai-color-primary-contrast);
}

:host(#{$secondary}) {
  --theme: var(--oai-color-secondary);
  --contrast: var(--oai-color-secondary-contrast);
}

:host(#{$warn}) {
  --theme: var(--oai-color-warn);
  --contrast: var(--oai-color-warn-contrast);
}
