@import './components-utils';
/**
* @Prop --oai-color-pale: pale theme main color;
* @Prop --oai-color-pale-contrast: pale theme contrast color;
* @Prop --oai-color-primary: primary theme main color;
* @Prop --oai-color-primary-contrast: primary theme contrast color;
* @Prop --oai-color-secondary: secondary theme main color;
* @Prop --oai-color-secondary-contrast: secondary theme contrast color;
* @Prop --oai-color-warn: warn theme main color;
* @Prop --oai-color-warn-contrast: warn theme contrast color;
*/

/**
* @prop --theme: Theme color of the button
* @prop --contrast: Contrast (usually text) color of the button
*/


// @import '../../../styles/mixins';

$themes: primary secondary success error warn dark medium light;
$nagatedAttributeSelectors:();

@each $theme in $themes {
  $attr:'[color="#{$theme}"i]';
  $nagatedAttributeSelectors: append($nagatedAttributeSelectors, $attr, );

  :host(#{$attr}) {

    --oai-color-base: var(--oai-color-#{$theme});
    --oai-color-contrast: var(--oai-color-#{$theme}-contrast);
    --oai-color-shade: var(--oai-color-#{$theme}-shade);
    --oai-color-tint: var(--oai-color-#{$theme}-tint);
    --oai-color-dim: var(--oai-color-#{$theme}-dim);
    --oai-color-loose: var(--oai-color-#{$theme}-loose);

  }

}

// // DEFAULT
// @include nagateMultiSelectors(':host', $nagatedAttributeSelectors) {

//   --oai-color-base: var(--oai-color-primary);
//   --oai-color-contrast: var(--oai-color-primary-contrast);
//   --oai-color-shade: var(--oai-color-primary-shade);
//   --oai-color-tint: var(--oai-color-primary-tint);
//   --oai-color-dim: var(--oai-color-primary-dim);

// }
