@import './components-utils';
/**
* @Prop --oai-color-pale: pale theme main color;
* @Prop --oai-color-pale-contrast: pale theme contrast color;
* @Prop --oai-color-primary: primary theme main color;
* @Prop --oai-color-primary-contrast: primary theme contrast color;
* @Prop --oai-color-secondary: secondary theme main color;
* @Prop --oai-color-secondary-contrast: secondary theme contrast color;
* @Prop --oai-color-warn: warn theme main color;
* @Prop --oai-color-warn-contrast: warn theme contrast color;
*/

/**
* @prop --theme: Theme color of the button
* @prop --contrast: Contrast (usually text) color of the button
*/


// @import '../../../styles/mixins';

$themes: pale primary secondary error warn;
$nagatedAttributeSelectors:();

@each $theme in $themes {
  $attr:'[color="#{$theme}"i]';
  $nagatedAttributeSelectors: append($nagatedAttributeSelectors, $attr, );

  :host(#{$attr}) {

    --oai-color-base: var(--oai-color-#{$theme});
    --oai-color-contrast: var(--oai-color-#{$theme}-contrast);
    --oai-color-shade: var(--oai-color-#{$theme}-shade);
    --oai-color-tint: var(--oai-color-#{$theme}-tint);
    --oai-color-dim: var(--oai-color-#{$theme}-dim);
    // --contrast: white;

    // &:focus {
    //   --theme: var(--oai-color-#{$theme}-shade);
    // }

    // &:active {
    //   --theme: var(--oai-color-#{$theme}-tint);
    // }

    // &:disabled {
    //   --theme: var(--oai-color-#{$theme}-disabled);
    // }
  }

}

// DEFAULT
// @include nagateMultiSelectors(':host', $nagatedAttributeSelectors) {

//   --theme: var(--oai-color-pale);
//   --contrast: var(--oai-color-pale-contrast);
//   --shade: var(--oai-color-pale-shade);
//   --tint: var(--oai-color-pale-tint);
//   --disabled: var(--oai-color-pale-disabled);

//   // &:focus {
//   //   --theme: var(--oai-color-pale-shade);
//   // }

//   // &:active {
//   //   --theme: var(--oai-color-pale-tint);
//   // }

//   // &:disabled {
//   //   --theme: var(--oai-color-pale-disabled);
//   // }

// }
