// @import '../../../styles/mixins';

$sizes: ('xs': 1.6rem, 'sm': 2.4rem, 'lg': 3.6rem, 'xl': 4.8rem);
$nagatedAttributeSelectors:();

@each $size-prop,
$size in $sizes {
  $attr:'[size="#{$size-prop}"i]';
  $nagatedAttributeSelectors: append($nagatedAttributeSelectors, $attr, );

  :host(#{$attr}) {
    --progress-indicator-size: #{$size};
  }

}

// DEFAULT TO XS
@include nagateMultiSelectors(':host', $nagatedAttributeSelectors) {
  --progress-indicator-size: #{map-get($sizes, 'xs')};
}
