@import '../../utils/theme/color-theme.scss';
@import '../../utils/theme/fallback-variables.scss';
@import './progress-indicator-size.scss';

$colors: map-get($fallback-variables, "colors");

:host {
  inline-size: var(--progress-indicator-size);
  block-size: var(--progress-indicator-size);
}

.spinner {
  animation: rotate 2s linear infinite;
  inline-size: inherit;
  block-size: inherit;

  & .path {
    stroke: currentColor;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;

    :host-context(oai-button) & {
      stroke: var(--oai-color-base, map-get($colors, "base"));
    }
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
