@import './abstracts/progress-indicator-size.scss';
@import './abstracts/progress-indicator-color-theme';

:host {
  inline-size: var(--progress-indicator-size);
  block-size: var(--progress-indicator-size);
}

.spinner {
  animation: rotate 2s linear infinite;
  inline-size: inherit;
  block-size: inherit;

  & .path {
    stroke: var(--theme);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
