:host {
  background: white;
  display: block;
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  bottom: 0;
  inset-inline-end: 0;
  right: 0;
  inset-block-start: 0;
  // border-radius: var(--border-radius) 0 0 var(--border-radius);
  padding: var(--size-block);
  // border: 0;
  margin: inherit;
  margin-inline-start: auto;
  block-size: 100%;
  box-sizing: border-box;
  transition: transform 450ms ease;
  animation: show 350ms ease;
  // border-style: solid;
  // border-color: var(--oai-color-pale-shade);
  // border-width: 1px 0 1px 1px;
  will-change: transform;
  box-shadow: 4px 4px 30px rgb(0, 0, 0, .2); // &[open] {

  //   animation: show 400ms ease;
  // }
  &::before {
    content: '';
  }
}


// .drawer {
//   // position: absolute;


//   &::backdrop {
//     background: rgba(0, 0, 0, 0.4);
//   }

//   &[open] {
//     animation: show 400ms ease;
//   }
// }


@keyframes show {
  0% {
    transform: translateX(100%);
  }
}

@keyframes hide {
  100% {
    transform: translateX(100%);
  }
}
