:host {
  background: white;
  display: block;
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  bottom: 0;
  inset-inline-end: 0;
  right: 0;
  inset-block-start: 0;
  padding: var(--size-block);
  margin: inherit;
  margin-inline-start: auto;
  block-size: 100%;
  box-sizing: border-box;
  transition: transform 450ms ease;
  animation: show 350ms ease;
  will-change: transform;
  box-shadow: 4px 4px 30px rgb(0, 0, 0, .4); // &[open] {
}

@keyframes show {
  0% {
    transform: translateX(100%);
  }
}

@keyframes hide {
  100% {
    transform: translateX(100%);
  }
}
