:host([minsize='xs'i]) {
  --button-size-inline: 100px;
}

:host([minsize='sm'i]) {
  --button-size-inline: 140px;
}

:host([minsize='lg'i]) {
  --button-size-inline: 200px;
}

:host([minsize='xl'i]) {
  --button-size-inline: 250px;
}
