$primary: '[color="primary"i]';
$secondary: '[color="secondary"i]';
$warn: '[color="warn"i]';

:host {
  --theme: var(--oai-color-pale);
  --contrast: var(--oai-color-foreground);
}

:host(#{$primary}) {
  --theme: var(--oai-color-primary);
  --contrast: var(--oai-color-foreground);
}

:host(#{$secondary}) {
  --theme: var(--oai-color-secondary);
  --contrast: inherit;
}

:host(#{$warn}) {
  --theme: var(--oai-color-warn);
  --contrast: inherit;
}

// DEFAULT
////////////
// :host( :not(:-webkit-any(#{$primary}, #{$secondary}, #{$warn})),
// :not(:-moz-any(#{$primary}, #{$secondary}, #{$warn})),
// :not(:matches(#{$primary}, #{$secondary}, #{$warn})),
// :not(:is(#{$primary}, #{$secondary}, #{$warn}))) {
//   --theme: red;
//   --contrast: var(--oai-color-foreground);
// }
