@import '../../../styles/mixins';

$themes: primary secondary error warn;
$nagatedAttributeSelectors:();

@each $theme in $themes {
  $attr:'[color="#{$theme}"i]';
  $nagatedAttributeSelectors: append($nagatedAttributeSelectors, $attr, );

  :host(#{$attr}) {
    --theme: var(--oai-color-#{$theme});
  }
}

// DEFAULT
@include nagateMultiSelectors(':host', $nagatedAttributeSelectors) {
  --theme: var(--oai-color-pale);
}
